@mixin ti {
    text-indent: -9999px;
    overflow: hidden;
}
@mixin cf {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}
@mixin valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
@mixin halign {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}