/* ===============================================================================
    Imports
=============================================================================== */

/*Base styles*/
@import 'base';
@import 'mixins';
@import 'components/slider';

/*Components*/

/*Page specific*/

// Delete if media queries not in use
/* ==================================================
    =Media Queries
===================================================== */

@media only screen and (max-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1382px) {}

/* ==================================================
    =High def devices
===================================================== */

// Source https://gist.github.com/3446599
@media  only screen and (min-device-pixel-ratio: 1.3),
        only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi) {
    // Place code here
}