.slider-wrapper {
	max-width: 1100px;
	overflow: hidden;
	position: relative;
	margin: 50px auto;
}
.slider-wrapper__slides {
	position: relative;
	width: 100%;
	height: 100%;
	height: 500px;
}
.slide { 
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: -100%;
	transform: scale(0.7, 0.7);
	transition: all 0.5s ease-in-out;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.slide-active {
	top: 0;
	opacity: 1;
	transform: scale(1, 1);
}
.slider__controls {
	text-align: center;
	margin: 30px 0 0 0;
	button {
		margin: 0 10px;
		background: #424242;
		transition: background 0.3s ease;

		&:hover {
			background: lighten(#424242, 10%)
		}
	}
}